In [2]:
import numpy as np
import pandas as pd
import Funciones
import datetime

%load_ext autoreload
%autoreload 2
import Funciones

import warnings
warnings.filterwarnings("ignore")

### ANÁLISIS Y LIMPIEZA DE PESTAÑA 'HECHOS'

In [3]:
ruta_homicidios_hechos = 'Data/homicidios.xlsx'

In [4]:
df_homicidios_hechos = pd.read_excel(ruta_homicidios_hechos, sheet_name='HECHOS')
df_homicidios_hechos.head()

,ID,N_VICTIMAS,FECHA,AAAA,MM,DD,HORA,HH,LUGAR_DEL_HECHO,TIPO_DE_CALLE,...,Altura,Cruce,Dirección Normalizada,COMUNA,XY (CABA),pos x,pos y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,...,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,...,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,...,2034.0,NaN,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,...,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,...,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS

In [5]:
df_homicidios_hechos.columns

Index(['ID', 'N_VICTIMAS', 'FECHA', 'AAAA', 'MM', 'DD', 'HORA', 'HH',
       'LUGAR_DEL_HECHO', 'TIPO_DE_CALLE', 'Calle', 'Altura', 'Cruce',
       'Dirección Normalizada', 'COMUNA', 'XY (CABA)', 'pos x', 'pos y',
       'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

In [6]:
df_homicidios_hechos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 696 entries, 0 to 695
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ID                     696 non-null    object
 1   N_VICTIMAS             696 non-null    int64
 2   FECHA                  696 non-null    datetime64[ns]
 3   AAAA                   696 non-null    int64
 4   MM                     696 non-null    int64
 5   DD                     696 non-null    int64
 6   HORA                   696 non-null    object
 7   HH                     696 non-null    object
 8   LUGAR_DEL_HECHO        696 non-null    object
 9   TIPO_DE_CALLE          696 non-null    object
 10  Calle                  695 non-null    object
 11  Altura                 129 non-null    float64
 12  Cruce                  525 non-null    object
 13  Dirección Normalizada  688 non-null    object
 14  COMUNA                 696 non-null    int64
 15  XY (CABA)              696 non-null    object
 16  pos x                  696 non-null    object
 17  pos y                  696 non-null    object
 18  PARTICIPANTES          696 non-null    object
 19  VICTIMA                696 non-null    object
 20  ACUSADO                696 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(5), object(14)
memory usage: 114.3+ KB

Se puede observar que los nombres de las columnas estan diferentes, ya que algunas estan en mayúsculas y otras en minúsculas. Se transforman todas a mayúsculas, y se cambia el '_' por espacio ' ':

In [7]:
df_homicidios_hechos.columns = df_homicidios_hechos.columns.str.upper()

In [8]:
df_homicidios_hechos.columns = df_homicidios_hechos.columns.str.replace('_', ' ')

También se reenombran algunas columnas, para comprender mejor a qué se refieren:

In [9]:
df_homicidios_hechos.rename(columns={'N_VICTIMAS': 'NUMERO DE VICTIMAS', 'AAAA': 'AÑO', 'MM': 'MES', 'DD': 'DIA', 'HH': 'HORA SIN MINUTOS'}, inplace=True)

df_homicidios_hechos.columns

Index(['ID', 'N VICTIMAS', 'FECHA', 'AÑO', 'MES', 'DIA', 'HORA',
       'HORA SIN MINUTOS', 'LUGAR DEL HECHO', 'TIPO DE CALLE', 'CALLE',
       'ALTURA', 'CRUCE', 'DIRECCIÓN NORMALIZADA', 'COMUNA', 'XY (CABA)',
       'POS X', 'POS Y', 'PARTICIPANTES', 'VICTIMA', 'ACUSADO'],
      dtype='object')

Se verifica el tipo de dato de cada columna y se analiza si hay valores nulos:

In [10]:
Funciones.verificar_tipo_datos(df_homicidios_hechos)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AÑO,[<class 'int'>],100.00,0.00,0
4,MES,[<class 'int'>],100.00,0.00,0
5,DIA,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HORA SIN MINUTOS,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR DEL HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO DE CALLE,[<class 'str'>],100.00,0.00,0
10,CALLE,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,ALTURA,[<class 'float'>],18.53,81.47,567
12,CRUCE,"[<class 'str'>, <class 'float'>]",75.43,24.57,171
13,DIRECCIÓN NORMALIZADA,"[<class 'str'>, <class 'float'>]",98.85,1.15,8
14,COMUNA,[<class 'int'>],100.00,0.00,0
15,XY (CABA),[<class 'str'>],100.00,0.00,0
16,POS X,[<class 'str'>],100.00,0.00,0
17,POS Y,[<class 'str'>],100.00,0.00,0
18,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
19,VICTIMA,[<class 'str'>],100.00,0.00,0
20,ACUSADO,[<class 'str'>],100.00,0.00,0

Se puede observar que la columna 'Altura' posee 81,47% de valores nulos, la columna 'Cruce' 24,57%, y la columna 'Dirección Normalizada' 1,15%.

In [11]:
df_nulos__homicidios_hechos = df_homicidios_hechos[['ALTURA', 'CRUCE', 'DIRECCIÓN NORMALIZADA']]
df_nulos__homicidios_hechos.head(10)

,ALTURA,CRUCE,DIRECCIÓN NORMALIZADA
0,NaN,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G..."
1,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
2,2034.0,NaN,ENTRE RIOS AV. 2034
3,NaN,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL."
4,NaN,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES."
5,NaN,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.
6,NaN,"GONZALEZ, JOAQUIN V.","NOGOYA y GONZALEZ, JOAQUIN V."
7,NaN,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
8,NaN,"IRIGOYEN, BERNARDO DE","BELGRANO AV. e IRIGOYEN, BERNARDO DE"
9,1366.0,NaN,ENTRE RIOS AV. 1366

Se procede a eliminar la columna 'Altura', por poseer muchos valores nulos, y siendo que resulta inútil teniendo la columna 'Dirección Normalizada':

In [12]:
df_homicidios_hechos = df_homicidios_hechos.drop('ALTURA', axis=1)

Se analiza la columna 'Cruce', la cual también poseía nulos:

In [13]:
df_nulos_cruce__homicidios_hechos = df_homicidios_hechos[['CRUCE', 'DIRECCIÓN NORMALIZADA']]
df_nulos_cruce__homicidios_hechos.head(40)

,CRUCE,DIRECCIÓN NORMALIZADA
0,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G..."
1,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
2,NaN,ENTRE RIOS AV. 2034
3,"VILLEGAS, CONRADO, GRAL.","LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL."
4,"SAENZ PE?A, LUIS, PRES.","SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES."
5,ESCALADA AV.,27 DE FEBRERO AV. y ESCALADA AV.
6,"GONZALEZ, JOAQUIN V.","NOGOYA y GONZALEZ, JOAQUIN V."
7,DE LOS CORRALES AV.,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
8,"IRIGOYEN, BERNARDO DE","BELGRANO AV. e IRIGOYEN, BERNARDO DE"
9,NaN,ENTRE RIOS AV. 1366
10,VERA,"SCALABRINI ORTIZ, RAUL AV. y VERA"
11,"QUINQUELA MARTIN, BENITO",REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN...
12,"JANER, ANA MARIA","ACOSTA, MARIANO y JANER, ANA MARIA"
13,"GARCIA GRANDE DE ZEQUEIRA, SEVERO","DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE..."
14,NaN,SUIPACHA 156
15,CURAPALIGUE,DIRECTORIO AV. y CURAPALIGUE
16,"ALSINA, ADOLFO","9 DE JULIO AV. y ALSINA, ADOLFO"
17,27 DE FEBRERO AV.,"PAZ, GRAL. AV. y 27 DE FEBRERO AV."
18,VEDIA,HOLMBERG y VEDIA
19,"DIAZ, AVELINO","CURAPALIGUE AV. y DIAZ, AVELINO"
20,9 DE JULIO AV.,VIAMONTE y 9 DE JULIO AV.
21,DEHEZA,CABILDO AV. y DEHEZA
22,"ROCA, CNEL. AV.","PAZ, GRAL. AV. y ROCA, CNEL. AV."
23,"BONAVENA, OSCAR NATALIO","ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO"
24,CALLAO AV.,CORRIENTES AV. y CALLAO AV.
25,"VALLE, ARISTOBULO DEL","HERRERA y VALLE, ARISTOBULO DEL"
26,QUIRNO,LAFUENTE AV. y QUIRNO
27,ZUVIRIA,"PAZ, GRAL. AV. y ZUVIRIA"
28,PUEYRREDON AV.,"MITRE, BARTOLOME y PUEYRREDON AV."
29,RIVERA INDARTE AV.,DIRECTORIO AV. y RIVERA INDARTE AV.
30,MURGUIONDO,"DELLEPIANE, LUIS, TTE. GRAL. y MURGUIONDO"
31,BALBASTRO,"MORENO, JOSE MARIA AV. y BALBASTRO"
32,DEL LIBERTADOR AV.,"PAZ, GRAL. AV. y DEL LIBERTADOR AV."
33,NaN,LIMA 1483
34,DORREGO AV.,CORRIENTES AV. y DORREGO AV.
35,NaN,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI
36,"FERNANDEZ DE LA CRUZ, F., GRAL. AV.","GORDILLO, TIMOTEO y FERNANDEZ DE LA CRUZ, F., ..."
37,"BONAVENA, OSCAR NATALIO","ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO"
38,NaN,NaN
39,OLAZABAL AV.,TRIUNVIRATO AV. y OLAZABAL AV.


Se puede deducir que donde hay valores nulos, el accidente no se produjo en una esquina o en el cruce propiamente dicho; por lo que se cambia los valores nulos por "No fue en cruce de calles", y los demás valores por 'Fue en cruce de calles':

In [14]:
df_homicidios_hechos['CRUCE'] = np.where(df_homicidios_hechos['CRUCE'].notnull(), 'FUE EN CRUCE DE CALLES', 'NO FUE EN CRUCE DE CALLES')
df_homicidios_hechos[['CRUCE', 'DIRECCIÓN NORMALIZADA']].head(20)

,CRUCE,DIRECCIÓN NORMALIZADA
0,FUE EN CRUCE DE CALLES,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G..."
1,FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
2,NO FUE EN CRUCE DE CALLES,ENTRE RIOS AV. 2034
3,FUE EN CRUCE DE CALLES,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL."
4,FUE EN CRUCE DE CALLES,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES."
5,FUE EN CRUCE DE CALLES,27 DE FEBRERO AV. y ESCALADA AV.
6,FUE EN CRUCE DE CALLES,"NOGOYA y GONZALEZ, JOAQUIN V."
7,FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DE LOS CORRALES AV."
8,FUE EN CRUCE DE CALLES,"BELGRANO AV. e IRIGOYEN, BERNARDO DE"
9,NO FUE EN CRUCE DE CALLES,ENTRE RIOS AV. 1366
10,FUE EN CRUCE DE CALLES,"SCALABRINI ORTIZ, RAUL AV. y VERA"
11,FUE EN CRUCE DE CALLES,REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN...
12,FUE EN CRUCE DE CALLES,"ACOSTA, MARIANO y JANER, ANA MARIA"
13,FUE EN CRUCE DE CALLES,"DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE..."
14,NO FUE EN CRUCE DE CALLES,SUIPACHA 156
15,FUE EN CRUCE DE CALLES,DIRECTORIO AV. y CURAPALIGUE
16,FUE EN CRUCE DE CALLES,"9 DE JULIO AV. y ALSINA, ADOLFO"
17,FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y 27 DE FEBRERO AV."
18,FUE EN CRUCE DE CALLES,HOLMBERG y VEDIA
19,FUE EN CRUCE DE CALLES,"CURAPALIGUE AV. y DIAZ, AVELINO"

Se observa la última columna que posee valores nulos, 'Dirección Normalizada':

In [15]:
df_homicidios_hechos[df_homicidios_hechos['DIRECCIÓN NORMALIZADA'].isnull()][['DIRECCIÓN NORMALIZADA', 'LUGAR DEL HECHO', 'TIPO DE CALLE']]

,DIRECCIÓN NORMALIZADA,LUGAR DEL HECHO,TIPO DE CALLE
38,NaN,AUTOPISTA LUGONES PK 10000,AUTOPISTA
106,NaN,AU BUENOS AIRES - LA PLATA KM. 4,AUTOPISTA
119,NaN,SD,CALLE
180,NaN,AU PERITO MORENO Y RAMAL ENLACE AU1/AU6,AUTOPISTA
181,NaN,AU DELLEPIANE 2400,AUTOPISTA
313,NaN,AUTOPISTA LUGONES KM 4.7,AUTOPISTA
546,NaN,"LUGONES, LEOPOLDO AV. KM 6,1",AUTOPISTA
621,NaN,"AU BUENOS AIRES LA PLATA KM 4,5",AUTOPISTA

Se observa que los valores faltantes son de accidentes en Autopista, excepto uno de ellos que fue en calle pero no se tienen datos del lugar del hecho (SD). Se cambian los nulos por 'SD' haciendo alusión a 'Sin Datos' y siguiendo la estructura del dataset:

In [16]:
df_homicidios_hechos['DIRECCIÓN NORMALIZADA'].fillna("SD", inplace=True)

In [17]:
df_homicidios_hechos[['DIRECCIÓN NORMALIZADA']].head(40)

                                DIRECCIÓN NORMALIZADA
0   PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...
1                PAZ, GRAL. AV. y DE LOS CORRALES AV.
2                                 ENTRE RIOS AV. 2034
3           LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.
4             SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.
5                    27 DE FEBRERO AV. y ESCALADA AV.
6                       NOGOYA y GONZALEZ, JOAQUIN V.
7                PAZ, GRAL. AV. y DE LOS CORRALES AV.
8                BELGRANO AV. e IRIGOYEN, BERNARDO DE
9                                 ENTRE RIOS AV. 1366
10                  SCALABRINI ORTIZ, RAUL AV. y VERA
11  REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN...
12                 ACOSTA, MARIANO y JANER, ANA MARIA
13  DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE...
14                                       SUIPACHA 156
15                       DIRECTORIO AV. y CURAPALIGUE
16                    9 DE JULIO AV. y ALSINA, ADOLFO
17                 PAZ, GRAL. AV. y 27 DE FEBRERO AV.
18                                   HOLMBERG y VEDIA
19                    CURAPALIGUE AV. y DIAZ, AVELINO
20                          VIAMONTE y 9 DE JULIO AV.
21                               CABILDO AV. y DEHEZA
22                   PAZ, GRAL. AV. y ROCA, CNEL. AV.
23     ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO
24                        CORRIENTES AV. y CALLAO AV.
25                    HERRERA y VALLE, ARISTOBULO DEL
26                              LAFUENTE AV. y QUIRNO
27                           PAZ, GRAL. AV. y ZUVIRIA
28                  MITRE, BARTOLOME y PUEYRREDON AV.
29                DIRECTORIO AV. y RIVERA INDARTE AV.
30          DELLEPIANE, LUIS, TTE. GRAL. y MURGUIONDO
31                 MORENO, JOSE MARIA AV. y BALBASTRO
32                PAZ, GRAL. AV. y DEL LIBERTADOR AV.
33                                          LIMA 1483
34                       CORRIENTES AV. y DORREGO AV.
35         AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI
36  GORDILLO, TIMOTEO y FERNANDEZ DE LA CRUZ, F., ...
37     ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO
38                                                 SD
39                     TRIUNVIRATO AV. y OLAZABAL AV.

Se observan si hay duplicados:

In [18]:
Funciones.filas_duplicadas(df_homicidios_hechos)

False

In [19]:
Funciones.duplicados_por_columna(df_homicidios_hechos, 'ID')

'No hay duplicados'

No hay elementos duplicados. Seguidamente se vuelve a ver los tipos de datos:

In [20]:
Funciones.verificar_tipo_datos(df_homicidios_hechos)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,ID,[<class 'str'>],100.00,0.00,0
1,N VICTIMAS,[<class 'int'>],100.00,0.00,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.00,0.00,0
3,AÑO,[<class 'int'>],100.00,0.00,0
4,MES,[<class 'int'>],100.00,0.00,0
5,DIA,[<class 'int'>],100.00,0.00,0
6,HORA,"[<class 'datetime.time'>, <class 'str'>, <clas...",100.00,0.00,0
7,HORA SIN MINUTOS,"[<class 'int'>, <class 'str'>]",100.00,0.00,0
8,LUGAR DEL HECHO,[<class 'str'>],100.00,0.00,0
9,TIPO DE CALLE,[<class 'str'>],100.00,0.00,0
10,CALLE,"[<class 'str'>, <class 'float'>]",99.86,0.14,1
11,CRUCE,[<class 'str'>],100.00,0.00,0
12,DIRECCIÓN NORMALIZADA,[<class 'str'>],100.00,0.00,0
13,COMUNA,[<class 'int'>],100.00,0.00,0
14,XY (CABA),[<class 'str'>],100.00,0.00,0
15,POS X,[<class 'str'>],100.00,0.00,0
16,POS Y,[<class 'str'>],100.00,0.00,0
17,PARTICIPANTES,[<class 'str'>],100.00,0.00,0
18,VICTIMA,[<class 'str'>],100.00,0.00,0
19,ACUSADO,[<class 'str'>],100.00,0.00,0

Las columnas 'HORA', 'HORA SIN MINUTOS', y 'CALLE' poseen varios tipos de datos.

In [21]:
df_homicidios_hechos['HORA'].apply(type).value_counts()

HORA
<class 'datetime.time'>        608
<class 'str'>                   85
<class 'datetime.datetime'>      3
Name: count, dtype: int64

In [22]:

df_homicidios_hechos['HORA SIN MINUTOS'].apply(type).value_counts()

HORA SIN MINUTOS
<class 'int'>    695
<class 'str'>      1
Name: count, dtype: int64

In [23]:
df_homicidios_hechos['CALLE'].apply(type).value_counts()

CALLE
<class 'str'>      695
<class 'float'>      1
Name: count, dtype: int64

Se decide cambiar el tipo de datos de la columna 'HORA' a datetime.time ya que representa solo la parte de la hora del día, sin incluir la fecha (como lo hace datetime.datetime, y en este caso no es necesario); el tipo de datos de la columna 'HORA SIN MINUTOS' a integer; y el tipo de datos de la columna 'CALLE' a string:

In [24]:
df_homicidios_hechos['HORA'] = df_homicidios_hechos['HORA'].apply(Funciones.convertir_a_time)

In [25]:
df_homicidios_hechos['HORA'].apply(type).value_counts()

HORA
<class 'datetime.time'>    695
<class 'NoneType'>           1
Name: count, dtype: int64

In [26]:
df_homicidios_hechos['HORA'].head(30)

0     04:00:00
1     01:15:00
2     07:00:00
3     00:00:00
4     05:20:00
5     18:30:00
6     19:10:00
7     15:20:00
8     01:20:00
9     11:30:00
10    05:14:00
11    22:00:00
12    16:54:00
13    09:30:00
14    16:00:00
15    23:35:00
16    06:00:00
17    04:50:00
18    07:30:00
19    09:35:00
20    10:00:00
21    17:30:00
22    12:30:00
23    12:30:00
24    06:00:00
25    00:15:00
26    11:00:00
27    08:06:00
28    01:50:00
29    11:00:00
Name: HORA, dtype: object

Tanto la columna 'Hora' como la columna 'Hora sin minutos' poseen 'SD', es decir que no cuentan con datos. Se le dara tratamiento a estas columnas y se decide aplicar la moda:

In [27]:
moda_de_hora = df_homicidios_hechos['HORA'].mode().iloc[0]
moda_de_hora

datetime.time(9, 0)

In [28]:
df_homicidios_hechos['HORA'].fillna(moda_de_hora, inplace=True)

df_homicidios_hechos['HORA'].apply(type).value_counts()

df_homicidios_hechos['HORA']

0      04:00:00
1      01:15:00
2      07:00:00
3      00:00:00
4      05:20:00
         ...
691    17:10:00
692    01:10:00
693    00:43:00
694    10:30:00
695    06:10:00
Name: HORA, Length: 696, dtype: object

In [29]:
df_homicidios_hechos['HORA SIN MINUTOS'] = df_homicidios_hechos['HORA SIN MINUTOS'].apply(lambda x: int(moda_de_hora.hour) if x == "SD" else x)
df_homicidios_hechos['HORA SIN MINUTOS'].apply(type).value_counts()

HORA SIN MINUTOS
<class 'int'>    696
Name: count, dtype: int64

Se ve los valores float de la columna 'Calle':

In [31]:
df_homicidios_hechos[df_homicidios_hechos['CALLE'].apply(lambda x: isinstance(x, float))]

,ID,N VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA SIN MINUTOS,LUGAR DEL HECHO,TIPO DE CALLE,CALLE,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
119,2016-0151,1,2016-11-18,2016,11,18,20:35:00,20,SD,CALLE,NaN,NO FUE EN CRUCE DE CALLES,SD,0,Point (. .),.,.,PEATON-SD,PEATON,SD

Se procede a realizar lo mismo que antes, y se transforma en SD (Sin Datos) siguiendo la línea del datasets:

In [32]:
df_homicidios_hechos['CALLE'].fillna('SD', inplace=True)

In [33]:
Funciones.verificar_tipo_datos(df_homicidios_hechos)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,ID,[<class 'str'>],100.0,0.0,0
1,N VICTIMAS,[<class 'int'>],100.0,0.0,0
2,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
3,AÑO,[<class 'int'>],100.0,0.0,0
4,MES,[<class 'int'>],100.0,0.0,0
5,DIA,[<class 'int'>],100.0,0.0,0
6,HORA,[<class 'datetime.time'>],100.0,0.0,0
7,HORA SIN MINUTOS,[<class 'int'>],100.0,0.0,0
8,LUGAR DEL HECHO,[<class 'str'>],100.0,0.0,0
9,TIPO DE CALLE,[<class 'str'>],100.0,0.0,0
10,CALLE,[<class 'str'>],100.0,0.0,0
11,CRUCE,[<class 'str'>],100.0,0.0,0
12,DIRECCIÓN NORMALIZADA,[<class 'str'>],100.0,0.0,0
13,COMUNA,[<class 'int'>],100.0,0.0,0
14,XY (CABA),[<class 'str'>],100.0,0.0,0
15,POS X,[<class 'str'>],100.0,0.0,0
16,POS Y,[<class 'str'>],100.0,0.0,0
17,PARTICIPANTES,[<class 'str'>],100.0,0.0,0
18,VICTIMA,[<class 'str'>],100.0,0.0,0
19,ACUSADO,[<class 'str'>],100.0,0.0,0

Se observa la columna de 'VICTIMA' ya que a simple vista se dilucidaron categorías que no se encuentran en el apartado de ' DICCIONARIO_VICTIMAS' del dataset proporcionado:

In [34]:
df_homicidios_hechos['VICTIMA'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OBJETO FIJO', 'PEATON_MOTO'], dtype=object)

Efectivamente, tanto 'Objeto Fijo' como 'Peaton_moto' no se encuentran en dicho diccionario, por lo que se decide cambiarlo por 'Otro' que sí se encuentra en el antedicho:

In [35]:
df_homicidios_hechos['VICTIMA'] = df_homicidios_hechos['VICTIMA'].replace({'OBJETO FIJO':'OTRO', 'PEATON_MOTO':'OTRO'})

In [36]:
df_homicidios_hechos['VICTIMA'].unique()

array(['MOTO', 'AUTO', 'PEATON', 'SD', 'CARGAS', 'BICICLETA', 'PASAJEROS',
       'MOVIL', 'OTRO'], dtype=object)

Asimismo, se observan que hay coordenadas vacías (con '.') en las columnas 'XY CABA', 'POS X', y 'POS Y'; por lo que se decide cambiarlas por el valor 0 para que sea más fácil su análisis con posterioridad:

In [37]:
df_homicidios_hechos['POS X'] = df_homicidios_hechos['POS X'].replace('.', 0)
df_homicidios_hechos['POS Y'] = df_homicidios_hechos['POS Y'].replace('.', 0)
df_homicidios_hechos['XY (CABA)'] = df_homicidios_hechos['XY (CABA)'].replace('Point (. .)', 0)

In [38]:
df_homicidios_hechos.head(50)

,ID,N VICTIMAS,FECHA,AÑO,MES,DIA,HORA,HORA SIN MINUTOS,LUGAR DEL HECHO,TIPO DE CALLE,CALLE,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,1,2016-01-01,2016,1,1,04:00:00,4,AV PIEDRA BUENA Y AV FERNANDEZ DE LA CRUZ,AVENIDA,PIEDRA BUENA AV.,FUE EN CRUCE DE CALLES,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,1,2016-01-02,2016,1,2,01:15:00,1,AV GRAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,1,2016-01-03,2016,1,3,07:00:00,7,AV ENTRE RIOS 2034,AVENIDA,ENTRE RIOS AV.,NO FUE EN CRUCE DE CALLES,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,1,2016-01-10,2016,1,10,00:00:00,0,AV LARRAZABAL Y GRAL VILLEGAS CONRADO,AVENIDA,LARRAZABAL AV.,FUE EN CRUCE DE CALLES,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,1,2016-01-21,2016,1,21,05:20:00,5,AV SAN JUAN Y PRESIDENTE LUIS SAENZ PEÑA,AVENIDA,SAN JUAN AV.,FUE EN CRUCE DE CALLES,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
5,2016-0008,1,2016-01-24,2016,1,24,18:30:00,18,AV 27 DE FEBRERO Y AV ESCALADA,AVENIDA,27 DE FEBRERO AV.,FUE EN CRUCE DE CALLES,27 DE FEBRERO AV. y ESCALADA AV.,8,Point (101721.59002217 93844.25656649),-58.44451316,-34.68475866,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
6,2016-0009,1,2016-01-24,2016,1,24,19:10:00,19,NOGOYA Y JOAQUIN V. GONZALES,CALLE,NOGOYA,FUE EN CRUCE DE CALLES,"NOGOYA y GONZALEZ, JOAQUIN V.",11,Point (96545.87592078 102330.67262199),-58.50095869,-34.60825440,MOTO-AUTO,MOTO,AUTO
7,2016-0010,1,2016-01-29,2016,1,29,15:20:00,15,AV GENERAL PAZ Y AV DE LOS CORRALES,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,MOTO-AUTO,MOTO,AUTO
8,2016-0012,1,2016-02-08,2016,2,8,01:20:00,1,AV BELGRANO Y BERNARDO DE IRIGOYEN,AVENIDA,BELGRANO AV.,FUE EN CRUCE DE CALLES,"BELGRANO AV. e IRIGOYEN, BERNARDO DE",1,Point (107595.35084333 101797.50052813),-58.38048577,-34.61303893,MOTO-CARGAS,MOTO,CARGAS
9,2016-0013,1,2016-02-10,2016,2,10,11:30:00,11,AV ENTRE RIOS 1366,AVENIDA,ENTRE RIOS AV.,NO FUE EN CRUCE DE CALLES,ENTRE RIOS AV. 1366,1,Point (106616.41069662 100496.44662323),-58.39114932,-34.62477387,PEATON-AUTO,PEATON,AUTO
10,2016-0015,1,2016-02-14,2016,2,14,05:14:00,5,AV SCALABRINI ORTIZ Y VERA,AVENIDA,"SCALABRINI ORTIZ, RAUL AV.",FUE EN CRUCE DE CALLES,"SCALABRINI ORTIZ, RAUL AV. y VERA",15,Point (102357.43746828 103343.52002839),-58.43760020,-34.59912758,PEATON-AUTO,PEATON,AUTO
11,2016-0016,1,2016-02-14,2016,2,14,22:00:00,22,AV REGIMIENTO DE PATRICIOS Y QUINQUELA MARTIN ...,AVENIDA,REGIMIENTO DE PATRICIOS AV.,FUE EN CRUCE DE CALLES,REGIMIENTO DE PATRICIOS AV. y QUINQUELA MARTIN...,4,Point (108661.59115206 98481.75445555),-58.36882665,-34.64291993,MOTO-AUTO,MOTO,AUTO
12,2016-0017,1,2016-02-15,2016,2,15,16:54:00,16,MARIANO ACOSTA Y ANA MARIA JANER,AVENIDA,"ACOSTA, MARIANO",FUE EN CRUCE DE CALLES,"ACOSTA, MARIANO y JANER, ANA MARIA",8,Point (101228.61094416 96623.72136186),-58.44989671,-34.65970435,PEATON-MOTO,PEATON,MOTO
13,2016-0019,1,2016-02-17,2016,2,17,09:30:00,9,LISANDRO DE LA TORRE Y SEVERO GARCIA GRANDE DE...,CALLE,"DE LA TORRE, LISANDRO",FUE EN CRUCE DE CALLES,"DE LA TORRE, LISANDRO y GARCIA GRANDE DE ZEQUE...",9,Point (95727.37083199 97179.35560349),-58.50990884,-34.65468721,PEATON-PASAJEROS,PEATON,PASAJEROS
14,2016-0020,1,2016-02-17,2016,2,17,16:00:00,16,SUIPACHA 156,CALLE,SUIPACHA,NO FUE EN CRUCE DE CALLES,SUIPACHA 156,1,Point (107684.31807562 102519.17333314),-58.37952223,-34.60653282,PEATON-AUTO,PEATON,AUTO
15,2016-0021,1,2016-02-17,2016,2,17,23:35:00,23,AV DIRECTORIO Y CURAPALIGUE,AVENIDA,DIRECTORIO AV.,FUE EN CRUCE DE CALLES,DIRECTORIO AV. y CURAPALIGUE,7,Point (101074.94198885 99848.19369046),-58.45157703,-34.63063795,AUTO-AUTO,AUTO,AUTO
16,2016-0022,1,2016-02-21,2016,2,21,06:00:00,6,AV 9 DE JULIO Y ADOLFO ALSINA,AVENIDA,9 DE JULIO AV.,FUE EN CRUCE DE CALLES,"9 DE JULIO AV. y ALSINA, ADOLFO",1,Point (107507.39502374 102046.08333077),-58.38144696,-34.61079875,MOTO-AUTO,MOTO,AUTO
17,2016-0025,1,2016-02-28,2016,2,28,04:50:00,4,AV GRAL PAZ Y AV 27 DE FEBRERO,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y 27 DE FEBRERO AV.",8,Point (100077.95205948 91571.23307293),-58.46244952,-34.70524971,AUTO-AUTO,AUTO,AUTO
18,2016-0026,1,2016-02-28,2016,2,28,07:30:00,7,HOLMBERG Y VEDIA,CALLE,HOLMBERG,FUE EN CRUCE DE CALLES,HOLMBERG y VEDIA,12,Point (97350.75566590 109083.19420265),-58.49216191,-34.54738649,AUTO-OBJETO FIJO,AUTO,OBJETO FIJO
19,2016-0027,1,2016-02-28,2016,2,28,09:35:00,9,CURAPALIGUE Y AVELINO DIAZ,AVENIDA,CURAPALIGUE AV.,FUE EN CRUCE DE CALLES,"CURAPALIGUE AV. y DIAZ, AVELINO",7,Point (101679.82794245 98973.02976850),-58.44497874,-34.63852623,AUTO-AUTO,AUTO,AUTO
20,2016-0028,1,2016-03-02,2016,3,2,10:00:00,10,VIAMONTE Y AV 9 DE JULIO,AVENIDA,VIAMONTE,FUE EN CRUCE DE CALLES,VIAMONTE y 9 DE JULIO AV.,1,Point (107457.87314266 103212.28518029),-58.38199706,-34.60028648,PEATON-CARGAS,PEATON,CARGAS
21,2016-0029,1,2016-03-04,2016,3,4,17:30:00,17,AV CABILDO Y DEHEZA,AVENIDA,CABILDO AV.,FUE EN CRUCE DE CALLES,CABILDO AV. y DEHEZA,12,Point (99037.31284333 109733.12041651),-58.47378664,-34.54153077,PEATON-PASAJEROS,PEATON,PASAJEROS
22,2016-0031,1,2016-03-08,2016,3,8,12:30:00,12,AV GRAL PAZ Y AV CNEL ROCA,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y ROCA, CNEL. AV.",8,Point (99327.01838497 92326.91130631),-58.47064556,-34.69843756,MOTO-PASAJEROS,MOTO,PASAJEROS
23,2016-0034,1,2016-03-12,2016,3,12,12:30:00,12,AV AMANCIO ALCORTA Y BONAVENA,AVENIDA,"ALCORTA, AMANCIO AV.",FUE EN CRUCE DE CALLES,"ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO",4,Point (105230.98315750 97613.97258373),-58.40623949,-34.65076549,PEATON-PASAJEROS,PEATON,PASAJEROS
24,2016-0035,1,2016-03-13,2016,3,13,06:00:00,6,AV CORRIENTES Y AV CALLAO,AVENIDA,CORRIENTES AV.,FUE EN CRUCE DE CALLES,CORRIENTES AV. y CALLAO AV.,3,Point (106513.41423248 102752.75354401),-58.39228965,-34.60443527,MOTO-PASAJEROS,MOTO,PASAJEROS
25,2016-0036,1,2016-03-14,2016,3,14,00:15:00,0,HERRERA Y ARISTOBULO DEL VALLE,CALLE,HERRERA,FUE EN CRUCE DE CALLES,"HERRERA y VALLE, ARISTOBULO DEL",4,Point (107808.84957181 99174.17105826),-58.37813396,-34.63668504,MOTO-PASAJEROS,MOTO,PASAJEROS
26,2016-0037,1,2016-03-19,2016,3,19,11:00:00,11,AV. EVA PERON Y QUIRNO,AVENIDA,LAFUENTE AV.,FUE EN CRUCE DE CALLES,LAFUENTE AV. y QUIRNO,7,Point (100049.60313526 98412.21255444),-58.46275892,-34.64358293,MOTO-MOTO,MOTO,MOTO
27,2016-0038,1,2016-03-21,2016,3,21,08:06:00,8,AV GRAL PAZ COLECTORA Y ZUVIRIA,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y ZUVIRIA",8,Point (96926.79887463 94490.76318635),-58.49683458,-34.67892743,PEATON-PASAJEROS,PEATON,PASAJEROS
28,2016-0039,1,2016-03-23,2016,3,23,01:50:00,1,BARTOLOME MITRE Y AV PUEYRREDON,AVENIDA,"MITRE, BARTOLOME",FUE EN CRUCE DE CALLES,"MITRE, BARTOLOME y PUEYRREDON AV.",3,Point (105252.60308563 102264.96028996),-58.40603217,-34.60883960,MOTO-PASAJEROS,MOTO,PASAJEROS
29,2016-0041,2,2016-03-29,2016,3,29,11:00:00,11,AV DIRECTORIO Y RIVERA INDARTE,AVENIDA,DIRECTORIO AV.,FUE EN CRUCE DE CALLES,DIRECTORIO AV. y RIVERA INDARTE AV.,7,Point (100232.38564985 99530.25843190),-58.46076550,-34.63350444,MOTO-CARGAS,MOTO,CARGAS
30,2016-0043,1,2016-03-30,2016,3,30,18:15:00,18,DELLEPIANE LUIS TTE GRAL COLECTORA Y MURGUIONDO,AVENIDA,"DELLEPIANE, LUIS, TTE. GRAL.",FUE EN CRUCE DE CALLES,"DELLEPIANE, LUIS, TTE. GRAL. y MURGUIONDO",8,Point (98623.04338909 94933.06478837),-58.47832463,-34.67494416,PEATON-CARGAS,PEATON,CARGAS
31,2016-0044,1,2016-03-31,2016,3,31,19:40:00,19,AV JOSE MARIA MORENO Y BALBASTRO,AVENIDA,"MORENO, JOSE MARIA AV.",FUE EN CRUCE DE CALLES,"MORENO, JOSE MARIA AV. y BALBASTRO",7,Point (102857.73817324 99148.76714504),-58.43213235,-34.63693953,MULTIPLE,MOTO,MULTIPLE
32,2016-0045,1,2016-04-11,2016,4,11,10:25:00,10,AV GRAL PAZ Y AV DEL LIBERTADOR,GRAL PAZ,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DEL LIBERTADOR AV.",13,Point (99620.34936816 110483.29286598),-58.46743471,-34.53476874,MOTO-SD,MOTO,SD
33,2016-0047,1,2016-04-15,2016,4,15,05:30:00,5,LIMA 1483,CALLE,LIMA,NO FUE EN CRUCE DE CALLES,LIMA 1483,1,Point (107412.19098904 100391.02557777),-58.38247061,-34.62571878,PEATON-PASAJEROS,PEATON,PASAJEROS
34,2016-0048,1,2016-04-15,2016,4,15,17:40:00,17,AV. CORRIENTES Y AV. DORREGO,AVENIDA,CORRIENTES AV.,FUE EN CRUCE DE CALLES,CORRIENTES AV. y DORREGO AV.,15,Point (101440.29935254 104167.40204334),-58.44759966,-34.59170240,PEATON-PASAJEROS,PEATON,PASAJEROS
35,2016-0049,1,2016-04-17,2016,4,17,00:00:00,0,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI KM....,AUTOPISTA,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,NO FUE EN CRUCE DE CALLES,AUTOPISTA 1 SUR PRESIDENTE ARTURO FRONDIZI,4,0,-58.37714647568196,-34.63657525428238,SD-SD,SD,SD
36,2016-0050,1,2016-04-19,2016,4,19,09:50:00,9,TIMOTEO GORDILLO Y AV FERNANDEZ DE LA CRUZ,AVENIDA,"GORDILLO, TIMOTEO",FUE EN CRUCE DE CALLES,"GORDILLO, TIMOTEO y FERNANDEZ DE LA CRUZ, F., ...",8,Point (99106.14718950 93761.32882893),-58.47305463,-34.68550712,PEATON-PASAJEROS,PEATON,PASAJEROS
37,2016-0051,1,2016-04-20,2016,4,20,04:00:00,4,AV AMANCIO ALCORTA Y BONAVENA,AVENIDA,"ALCORTA, AMANCIO AV.",FUE EN CRUCE DE CALLES,"ALCORTA, AMANCIO AV. y BONAVENA, OSCAR NATALIO",4,Point (105230.98315750 97613.97258373),-58.40623949,-34.65076549,MOTO-CARGAS,MOTO,CARGAS
38,2016-0052,1,2016-04-20,2016,4,20,20:00:00,20,AUTOPISTA LUGONES PK 10000,AUTOPISTA,"LUGONES, LEOPOLDO AV.",NO FUE EN CRUCE DE CALLES,SD,13,0,0,0,MOTO-SD,MOTO,SD
39,2016-0053,1,2016-04-22,2016,4,22,09:30:00,9,AV TRIUNVIRATO Y AV OLAZABAL,AVENIDA,TRIUNVIRATO AV.,FUE EN CRUCE DE CALLES,TRIUNVIRATO AV. y OLAZABAL AV.,12,Point (98073.80557770 105955.73972818),-58.48429180,-34.57558053,PEATON-PASAJEROS,PEATON,PASAJEROS
40,2016-0054,1,2016-04-23,2016,4,23,21:00:00,21,AU LUIS DELLEPIANE Y AV GRAL PAZ,AUTOPISTA,AUTOPISTA DELLEPIANE LUIS TTE. GRAL.,FUE EN CRUCE DE CALLES,"AUTOPISTA DELLEPIANE LUIS TTE. GRAL. y PAZ, GR...",8,Point (97832.57143731 93489.83736533),-58.48695354,-34.68795245,MOTO-MOTO,MOTO,MOTO
41,2016-0055,1,2016-04-25,2016,4,25,20:30:00,20,RAMON CASTILLA Y AV FIGUEROA ALCORTA,AVENIDA,"CASTILLA, RAMON, MARISCAL",FUE EN CRUCE DE CALLES,"CASTILLA, RAMON, MARISCAL y FIGUEROA ALCORTA, ...",14,Point (105787.74102401 105502.98340149),-58.40021959,-34.57964781,PEATON-CARGAS,PEATON,CARGAS
42,2016-0056,1,2016-04-26,2016,4,26,04:45:00,4,AV LUIS MARIA CAMPOS 30,AVENIDA,"CAMPOS, LUIS M. AV.",NO FUE EN CRUCE DE CALLES,"CAMPOS, LUIS M. AV. 30",14,Point (103094.06446966 105842.29634122),-58.42957885,-34.57660058,MOTO-OBJETO FIJO,MOTO,OBJETO FIJO
43,2016-0058,1,2016-05-04,2016,5,4,14:00:00,14,LIMA 1471,CALLE,LIMA,NO FUE EN CRUCE DE CALLES,LIMA 1471,1,Point (107411.76356149 100408.31441284),-58.38247542,-34.62556293,PEATON-MOTO,PEATON,MOTO
44,2016-0059,1,2016-05-08,2016,5,8,16:30:00,16,PASAJE CIUDADELA Y LIMA OESTE,CALLE,CIUDADELA,FUE EN CRUCE DE CALLES,CIUDADELA y LIMA,1,Point (107434.83290791 100217.70308007),-58.38222219,-34.62728101,PEATON-PASAJEROS,PEATON,PASAJEROS
45,2016-0064,1,2016-05-14,2016,5,14,18:11:00,18,AV JUAN B JUSTO Y AV CARRASCO,AVENIDA,"JUSTO, JUAN B. AV.",FUE EN CRUCE DE CALLES,"JUSTO, JUAN B. AV. y CARRASCO AV.",10,Point (97106.70264812 99970.19547024),-58.49485242,-34.62953445,PEATON-PASAJEROS,PEATON,PASAJEROS
46,2016-0065,1,2016-05-20,2016,5,20,14:40:00,14,AV GAONA Y ESPINOSA,AVENIDA,GAONA AV.,FUE EN CRUCE DE CALLES,GAONA AV. y ESPINOSA,6,Point (101010.75965434 102062.18185970),-58.45227946,-34.61068024,PEATON-AUTO,PEATON,AUTO
47,2016-0067,1,2016-05-21,2016,5,21,17:00:00,17,AV LISANDRO DE LA TORRE Y SARAZA,AVENIDA,"DE LA TORRE, LISANDRO",FUE EN CRUCE DE CALLES,"DE LA TORRE, LISANDRO y SARAZA",8,Point (98052.13008621 94912.60873025),-58.48455411,-34.67512760,MOTO-PASAJEROS,MOTO,PASAJEROS
48,2016-0068,1,2016-05-22,2016,5,22,22:00:00,22,AV FIGUEROA ALCORTA Y AV PUEYRREDON,AVENIDA,"FIGUEROA ALCORTA, PRES. AV.",FUE EN CRUCE DE CALLES,"FIGUEROA ALCORTA, PRES. AV. y PUEYRREDON AV.",2,Point (106673.12856878 104998.99234220),-58.39056593,-34.58418569,MOTO-PASAJEROS,MOTO,PASAJEROS
49,2016-0069,1,2016-05-23,2016,5,23,03:30:00,3,AV ENTRE RIOS Y PASAJE FILIBERTO,AVENIDA,ENTRE RIOS AV.,FUE EN CRUCE DE CALLES,ENTRE RIOS AV. y FILIBERTO,3,Point (106612.54991859 100244.75667446),-58.39118948,-34.62704273,AUTO-CARGAS,AUTO,CARGAS

### ANÁLISIS Y LIMPIEZA DE PESTAÑA 'VICTIMAS'

In [39]:
df_homicidios_victimas = pd.read_excel(ruta_homicidios_hechos, sheet_name='VICTIMAS')
df_homicidios_victimas.head()

,ID_hecho,FECHA,AAAA,MM,DD,ROL,VICTIMA,SEXO,EDAD,FECHA_FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29,2016-02-01 00:00:00

In [40]:
df_homicidios_victimas.columns

Index(['ID_hecho', 'FECHA', 'AAAA', 'MM', 'DD', 'ROL', 'VICTIMA', 'SEXO',
       'EDAD', 'FECHA_FALLECIMIENTO'],
      dtype='object')

Como ya se realizó con la pestaña de 'HECHOS', se cambian todas las columnas a mayúsculas para seguir una línea, se cambia el '_' por un espacio ' ', y se modifican algunos nombres para entender mejor a lo que se refiere:

In [41]:
df_homicidios_victimas.columns = df_homicidios_victimas.columns.str.upper()

In [42]:
df_homicidios_victimas.columns = df_homicidios_victimas.columns.str.replace('_', ' ')

In [43]:
df_homicidios_victimas.rename(columns={'ID HECHO': 'ID', 'AAAA': 'AÑO', 'MM': 'MES', 'DD': 'DIA'}, inplace=True)

df_homicidios_victimas.columns

Index(['ID', 'FECHA', 'AÑO', 'MES', 'DIA', 'ROL', 'VICTIMA', 'SEXO', 'EDAD',
       'FECHA FALLECIMIENTO'],
      dtype='object')

Se analiza el tipo de dato de cada columna, y la existencia de nulos:

In [44]:
Funciones.verificar_tipo_datos(df_homicidios_victimas)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,ID,[<class 'str'>],100.0,0.0,0
1,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
2,AÑO,[<class 'int'>],100.0,0.0,0
3,MES,[<class 'int'>],100.0,0.0,0
4,DIA,[<class 'int'>],100.0,0.0,0
5,ROL,[<class 'str'>],100.0,0.0,0
6,VICTIMA,[<class 'str'>],100.0,0.0,0
7,SEXO,[<class 'str'>],100.0,0.0,0
8,EDAD,"[<class 'int'>, <class 'str'>]",100.0,0.0,0
9,FECHA FALLECIMIENTO,"[<class 'datetime.datetime'>, <class 'str'>]",100.0,0.0,0

No posee nulos, se analiza la existencia de duplicados:

In [45]:

Funciones.filas_duplicadas(df_homicidios_victimas)

False

In [46]:

Funciones.duplicados_por_columna(df_homicidios_victimas, 'ID')

,ID,FECHA,AÑO,MES,DIA,ROL,VICTIMA,SEXO,EDAD,FECHA FALLECIMIENTO
29,2016-0041,2016-03-29,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54,2016-03-29 00:00:00
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
98,2016-0126,2016-09-18,2016,9,18,CONDUCTOR,AUTO,MASCULINO,37,SD
99,2016-0126,2016-09-18,2016,9,18,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,60,SD
163,2017-0026,2017-02-26,2017,2,26,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,23,2017-02-26 00:00:00
164,2017-0026,2017-02-26,2017,2,26,CONDUCTOR,AUTO,MASCULINO,19,2017-02-26 00:00:00
173,2017-0035,2017-03-23,2017,3,23,CONDUCTOR,AUTO,MASCULINO,28,2017-03-23 00:00:00
174,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,32,2017-03-23 00:00:00
175,2017-0035,2017-03-23,2017,3,23,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,30,2017-03-23 00:00:00
177,2017-0036,2017-03-29,2017,3,29,CONDUCTOR,MOTO,MASCULINO,20,2017-03-29 00:00:00
176,2017-0036,2017-03-29,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
186,2017-0050,2017-04-28,2017,4,28,CONDUCTOR,MOTO,MASCULINO,46,2017-04-28 00:00:00
187,2017-0050,2017-04-28,2017,4,28,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,16,2017-04-28 00:00:00
237,2017-0108,2017-09-02,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,17,2017-09-02 00:00:00
238,2017-0108,2017-09-02,2017,9,2,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,10,2017-09-02 00:00:00
242,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,1,SD
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
253,2017-0126,2017-10-14,2017,10,14,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,39,SD
254,2017-0126,2017-10-14,2017,10,14,CONDUCTOR,AUTO,MASCULINO,36,2017-10-14 00:00:00
278,2017-0153,2017-12-11,2017,12,11,CONDUCTOR,MOTO,MASCULINO,30,2017-12-12 00:00:00
277,2017-0153,2017-12-11,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
300,2018-0015,2018-02-06,2018,2,6,CONDUCTOR,MOTO,MASCULINO,28,2018-02-06 00:00:00
301,2018-0015,2018-02-06,2018,2,6,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,19,2018-02-06 00:00:00
312,2018-0026,2018-03-09,2018,3,9,CONDUCTOR,MOVIL,MASCULINO,24,2018-03-09 00:00:00
313,2018-0026,2018-03-09,2018,3,9,PASAJERO_ACOMPAÑANTE,MOVIL,MASCULINO,30,2018-03-09 00:00:00
325,2018-0038,2018-04-20,2018,4,20,PEATON,PEATON,FEMENINO,59,2018-04-20 00:00:00
326,2018-0038,2018-04-20,2018,4,20,PEATON,PEATON,MASCULINO,61,2018-04-20 00:00:00
373,2018-0085,2018-08-03,2018,8,3,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,22,2018-08-03 00:00:00
374,2018-0085,2018-08-03,2018,8,3,CONDUCTOR,MOTO,MASCULINO,30,2018-08-03 00:00:00
388,2018-0098,2018-09-09,2018,9,9,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,54,2018-09-09 00:00:00
387,2018-0098,2018-09-09,2018,9,9,CONDUCTOR,AUTO,MASCULINO,55,2018-09-09 00:00:00
418,2018-0128,2018-11-25,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,49,2018-11-25 00:00:00
419,2018-0128,2018-11-25,2018,11,25,PASAJERO_ACOMPAÑANTE,AUTO,FEMENINO,39,2018-11-25 00:00:00
444,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
445,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,59,2019-02-02 00:00:00
576,2020-0038,2020-08-30,2020,8,30,CONDUCTOR,AUTO,MASCULINO,46,2020-08-30 00:00:00
577,2020-0038,2020-08-30,2020,8,30,CONDUCTOR,AUTO,MASCULINO,64,2020-08-30 00:00:00
602,2020-0063,2020-12-05,2020,12,5,PEATON,PEATON,MASCULINO,38,2020-12-05 00:00:00
603,2020-0063,2020-12-05,2020,12,5,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,21,2020-12-05 00:00:00
616,2020-0077,2020-12-25,2020,12,25,CONDUCTOR,MOTO,FEMENINO,30,2020-12-25 00:00:00
617,2020-0077,2020-12-25,2020,12,25,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,24,2020-12-25 00:00:00

Hay duplicados de ID, pero se refiere a un mismo hecho, con varias víctimas.

Como vimos más arriba, al verificar los tipos de datos de las columnas, la columna 'EDAD' y 'FECHA FALLECIMIENTO' presentan varios tipo de datos. Se analizan para transformar todos a un mismo tipo:

In [47]:
datos_edad = df_homicidios_victimas['EDAD'].apply(type).value_counts()
datos_edad

EDAD
<class 'int'>    664
<class 'str'>     53
Name: count, dtype: int64

In [48]:
df_homicidios_victimas[df_homicidios_victimas['EDAD'].apply(lambda x: isinstance(x, str))]

,ID,FECHA,AÑO,MES,DIA,ROL,VICTIMA,SEXO,EDAD,FECHA FALLECIMIENTO
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2016-03-30 00:00:00
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,SD
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,SD,SD
36,2016-0049,2016-04-17,2016,4,17,SD,SD,SD,SD,SD
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,SD,SD,SD
55,2016-0077,2016-06-13,2016,6,13,PEATON,PEATON,FEMENINO,SD,SD
63,2016-0085,2016-06-29,2016,6,29,SD,MOTO,MASCULINO,SD,SD
72,2016-0096,2016-07-25,2016,7,25,CONDUCTOR,MOTO,MASCULINO,SD,SD
89,2016-0115,2016-09-02,2016,9,2,SD,SD,MASCULINO,SD,SD
93,2016-0119,2016-09-04,2016,9,4,PASAJERO_ACOMPAÑANTE,SD,FEMENINO,SD,SD
108,2016-0136,2016-10-25,2016,10,25,CONDUCTOR,MOTO,SD,SD,SD
119,2016-0148,2016-11-16,2016,11,16,CONDUCTOR,MOTO,MASCULINO,SD,SD
121,2016-0151,2016-11-18,2016,11,18,PEATON,PEATON,SD,SD,SD
138,2016-0171,2016-12-25,2016,12,25,CONDUCTOR,MOTO,SD,SD,SD
141,2016-0174,2016-12-27,2016,12,27,SD,SD,SD,SD,SD
142,2016-0175,2016-12-27,2016,12,27,PEATON,PEATON,FEMENINO,SD,SD
165,2017-0027,2017-02-26,2017,2,26,PEATON,PEATON,MASCULINO,SD,2017-02-26 00:00:00
176,2017-0036,2017-03-29,2017,3,29,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2017-03-29 00:00:00
182,2017-0042,2017-04-10,2017,4,10,CONDUCTOR,MOTO,MASCULINO,SD,2017-04-10 00:00:00
225,2017-0093,2017-07-25,2017,7,25,PEATON,PEATON,MASCULINO,SD,2017-07-25 00:00:00
243,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2017-09-13 00:00:00
275,2017-0151,2017-12-04,2017,12,4,PEATON,PEATON,MASCULINO,SD,2017-12-04 00:00:00
277,2017-0153,2017-12-11,2017,12,11,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2017-12-12 00:00:00
299,2018-0014,2018-01-31,2018,1,31,PEATON,PEATON,MASCULINO,SD,2018-02-04 00:00:00
328,2018-0040,2018-04-27,2018,4,27,PEATON,PEATON,FEMENINO,SD,2018-04-27 00:00:00
359,2018-0071,2018-07-10,2018,7,10,CONDUCTOR,MOTO,MASCULINO,SD,2018-07-10 00:00:00
367,2018-0079,2018-07-23,2018,7,23,PEATON,PEATON,MASCULINO,SD,2018-07-23 00:00:00
371,2018-0083,2018-08-02,2018,8,2,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-02 00:00:00
377,2018-0088,2018-08-17,2018,8,17,CONDUCTOR,MOTO,MASCULINO,SD,2018-08-17 00:00:00
391,2018-0101,2018-09-21,2018,9,21,CONDUCTOR,AUTO,MASCULINO,SD,2018-09-21 00:00:00
421,2018-0130,2018-12-03,2018,12,3,CONDUCTOR,MOTO,MASCULINO,SD,2018-12-03 00:00:00
444,2019-0010,2019-02-02,2019,2,2,PEATON,PEATON,MASCULINO,SD,2019-02-02 00:00:00
446,2019-0011,2019-02-10,2019,2,10,PEATON,PEATON,MASCULINO,SD,2019-02-10 00:00:00
454,2019-0019,2019-03-06,2019,3,6,CONDUCTOR,MOTO,MASCULINO,SD,26/03/2019
457,2019-0022,2019-03-15,2019,3,15,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,SD,2019-03-15 00:00:00
461,2019-0026,2019-03-28,2019,3,28,PEATON,PEATON,MASCULINO,SD,2019-03-28 00:00:00
463,2019-0028,2019-04-06,2019,4,6,PEATON,PEATON,FEMENINO,SD,2019-04-06 00:00:00
469,2019-0034,2019-04-21,2019,4,21,CONDUCTOR,MOTO,MASCULINO,SD,2019-04-21 00:00:00
479,2019-0043,2019-05-21,2019,5,21,CICLISTA,BICICLETA,FEMENINO,SD,2019-05-21 00:00:00
498,2019-0063,2019-08-04,2019,8,4,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,SD,2019-08-04 00:00:00
506,2019-0071,2019-08-27,2019,8,27,PEATON,PEATON,MASCULINO,SD,2019-08-27 00:00:00
529,2019-0094,2019-11-18,2019,11,18,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,SD,2019-11-18 00:00:00
530,2019-0095,2019-11-20,2019,11,20,CONDUCTOR,MOTO,MASCULINO,SD,2019-11-20 00:00:00
548,2020-0010,2020-02-08,2020,2,8,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-08 00:00:00
552,2020-0014,2020-02-27,2020,2,27,CONDUCTOR,MOTO,MASCULINO,SD,2020-02-27 00:00:00
555,2020-0017,2020-03-05,2020,3,5,PEATON,PEATON,MASCULINO,SD,2020-03-05 00:00:00
563,2020-0025,2020-05-12,2020,5,12,PEATON,PEATON,MASCULINO,SD,2020-05-12 00:00:00
572,2020-0034,2020-08-02,2020,8,2,PEATON,PEATON,FEMENINO,SD,2020-08-02 00:00:00
579,2020-0040,2020-09-12,2020,9,12,CONDUCTOR,AUTO,MASCULINO,SD,2020-09-12 00:00:00
631,2021-0012,2021-01-29,2021,1,29,PEATON,PEATON,MASCULINO,SD,2021-01-29 00:00:00
639,2021-0020,2021-02-21,2021,2,21,PEATON,PEATON,FEMENINO,SD,2021-02-21 00:00:00
647,2021-0028,2021-03-29,2021,3,29,PEATON,PEATON,MASCULINO,SD,2021-03-29 00:00:00
698,2021-0079,2021-10-25,2021,10,25,PEATON,PEATON,MASCULINO,SD,2021-10-25 00:00:00

In [49]:
datos_fecha = df_homicidios_victimas['FECHA FALLECIMIENTO'].apply(type).value_counts()

In [50]:
datos_fecha

FECHA FALLECIMIENTO
<class 'datetime.datetime'>    648
<class 'str'>                   69
Name: count, dtype: int64

In [51]:
df_homicidios_victimas[df_homicidios_victimas['FECHA FALLECIMIENTO'].apply(lambda x: isinstance(x, str))]

,ID,FECHA,AÑO,MES,DIA,ROL,VICTIMA,SEXO,EDAD,FECHA FALLECIMIENTO
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18,SD
16,2016-0022,2016-02-21,2016,2,21,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,41,SD
19,2016-0027,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34,SD
22,2016-0031,2016-03-08,2016,3,8,CONDUCTOR,MOTO,MASCULINO,21,SD
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,SD,SD
...,...,...,...,...,...,...,...,...,...,...
242,2017-0112,2017-09-10,2017,9,10,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,1,SD
246,2017-0115,2017-09-19,2017,9,19,CONDUCTOR,MOTO,MASCULINO,34,SD
253,2017-0126,2017-10-14,2017,10,14,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,39,SD
280,2017-0155,2017-12-12,2017,12,12,SD,SD,MASCULINO,77,SD
454,2019-0019,2019-03-06,2019,3,6,CONDUCTOR,MOTO,MASCULINO,SD,26/03/2019

Hay varios SD en las columnas 'EDAD', 'ROL', y 'VICTIMA'. Se procede a imputar valores a los datos faltantes:

In [52]:
Funciones.imputa_valor_frecuente(df_homicidios_victimas, 'SEXO')

El valor mas frecuente es: MASCULINO

In [53]:
Funciones.imputa_edad_media_segun_sexo(df_homicidios_victimas)

La edad promedio de Femenino es 51 y de Masculino es 40

In [54]:

df_homicidios_victimas.head(40)

,ID,FECHA,AÑO,MES,DIA,ROL,VICTIMA,SEXO,EDAD,FECHA FALLECIMIENTO
0,2016-0001,2016-01-01,2016,1,1,CONDUCTOR,MOTO,MASCULINO,19.000000,2016-01-01 00:00:00
1,2016-0002,2016-01-02,2016,1,2,CONDUCTOR,AUTO,MASCULINO,70.000000,2016-01-02 00:00:00
2,2016-0003,2016-01-03,2016,1,3,CONDUCTOR,MOTO,MASCULINO,30.000000,2016-01-03 00:00:00
3,2016-0004,2016-01-10,2016,1,10,CONDUCTOR,MOTO,MASCULINO,18.000000,SD
4,2016-0005,2016-01-21,2016,1,21,CONDUCTOR,MOTO,MASCULINO,29.000000,2016-02-01 00:00:00
5,2016-0008,2016-01-24,2016,1,24,CONDUCTOR,MOTO,MASCULINO,30.000000,2016-01-24 00:00:00
6,2016-0009,2016-01-24,2016,1,24,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,29.000000,2016-01-26 00:00:00
7,2016-0010,2016-01-29,2016,1,29,CONDUCTOR,MOTO,MASCULINO,18.000000,2016-01-29 00:00:00
8,2016-0012,2016-02-08,2016,2,8,CONDUCTOR,MOTO,MASCULINO,22.000000,2016-02-08 00:00:00
9,2016-0013,2016-02-10,2016,2,10,PEATON,PEATON,MASCULINO,16.000000,2016-02-10 00:00:00
10,2016-0015,2016-02-14,2016,2,14,PEATON,PEATON,FEMENINO,16.000000,2016-02-14 00:00:00
11,2016-0016,2016-02-14,2016,2,14,PASAJERO_ACOMPAÑANTE,MOTO,FEMENINO,19.000000,2016-02-14 00:00:00
12,2016-0017,2016-02-15,2016,2,15,PEATON,PEATON,MASCULINO,59.000000,2016-02-16 00:00:00
13,2016-0019,2016-02-17,2016,2,17,PEATON,PEATON,FEMENINO,65.000000,2016-02-17 00:00:00
14,2016-0020,2016-02-17,2016,2,17,PEATON,PEATON,MASCULINO,59.000000,2016-03-02 00:00:00
15,2016-0021,2016-02-17,2016,2,17,CONDUCTOR,AUTO,MASCULINO,34.000000,2016-02-17 00:00:00
16,2016-0022,2016-02-21,2016,2,21,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,41.000000,SD
17,2016-0025,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34.000000,2016-02-28 00:00:00
18,2016-0026,2016-02-28,2016,2,28,CONDUCTOR,AUTO,MASCULINO,30.000000,2016-03-04 00:00:00
19,2016-0027,2016-02-28,2016,2,28,PASAJERO_ACOMPAÑANTE,AUTO,MASCULINO,34.000000,SD
20,2016-0028,2016-03-02,2016,3,2,PEATON,PEATON,MASCULINO,50.000000,2016-03-02 00:00:00
21,2016-0029,2016-03-04,2016,3,4,PEATON,PEATON,MASCULINO,38.000000,2016-03-04 00:00:00
22,2016-0031,2016-03-08,2016,3,8,CONDUCTOR,MOTO,MASCULINO,21.000000,SD
23,2016-0034,2016-03-12,2016,3,12,PEATON,PEATON,MASCULINO,52.000000,2016-03-12 00:00:00
24,2016-0035,2016-03-13,2016,3,13,CONDUCTOR,MOTO,MASCULINO,34.000000,2016-03-13 00:00:00
25,2016-0036,2016-03-14,2016,3,14,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,36.000000,2016-03-14 00:00:00
26,2016-0037,2016-03-19,2016,3,19,CONDUCTOR,MOTO,MASCULINO,20.000000,2016-03-19 00:00:00
27,2016-0038,2016-03-21,2016,3,21,PEATON,PEATON,MASCULINO,29.000000,2016-03-21 00:00:00
28,2016-0039,2016-03-23,2016,3,23,CONDUCTOR,MOTO,MASCULINO,20.000000,2016-03-23 00:00:00
29,2016-0041,2016-03-29,2016,3,29,CONDUCTOR,MOTO,MASCULINO,54.000000,2016-03-29 00:00:00
30,2016-0041,2016-03-29,2016,3,29,PASAJERO_ACOMPAÑANTE,MOTO,MASCULINO,39.550098,2016-03-30 00:00:00
31,2016-0043,2016-03-30,2016,3,30,PEATON,PEATON,FEMENINO,56.000000,2016-03-30 00:00:00
32,2016-0044,2016-03-31,2016,3,31,CONDUCTOR,MOTO,MASCULINO,24.000000,2016-03-31 00:00:00
33,2016-0045,2016-04-11,2016,4,11,CONDUCTOR,MOTO,MASCULINO,39.550098,SD
34,2016-0047,2016-04-15,2016,4,15,PEATON,PEATON,MASCULINO,41.000000,2016-04-15 00:00:00
35,2016-0048,2016-04-15,2016,4,15,PEATON,PEATON,FEMENINO,50.761290,SD
36,2016-0049,2016-04-17,2016,4,17,SD,SD,MASCULINO,39.550098,SD
37,2016-0050,2016-04-19,2016,4,19,PEATON,PEATON,MASCULINO,78.000000,2016-04-19 00:00:00
38,2016-0051,2016-04-20,2016,4,20,CONDUCTOR,MOTO,MASCULINO,36.000000,2016-04-20 00:00:00
39,2016-0052,2016-04-20,2016,4,20,SD,MOTO,MASCULINO,39.550098,SD

In [55]:
Funciones.imputa_valor_frecuente(df_homicidios_victimas, 'ROL')

El valor mas frecuente es: CONDUCTOR

In [56]:
Funciones.imputa_valor_frecuente(df_homicidios_victimas, 'VICTIMA')

El valor mas frecuente es: MOTO

Como se van a unir ambos dataframes, se eliminan las columnas repetidas y las columnas que no son de utilidad para este análisis:

In [57]:
df_homicidios_victimas=df_homicidios_victimas.drop(['FECHA', 'AÑO', 'MES', 'DIA', 'VICTIMA', 'FECHA FALLECIMIENTO'], axis=1)
df_homicidios_victimas.columns

Index(['ID', 'ROL', 'SEXO', 'EDAD'], dtype='object')

Se unen ambos dataframes:

In [58]:
df_homicidios= df_homicidios_victimas.merge(df_homicidios_hechos, on='ID', how='left')

In [59]:
df_homicidios

,ID,ROL,SEXO,EDAD,N VICTIMAS,FECHA,AÑO,MES,DIA,HORA,...,CALLE,CRUCE,DIRECCIÓN NORMALIZADA,COMUNA,XY (CABA),POS X,POS Y,PARTICIPANTES,VICTIMA,ACUSADO
0,2016-0001,CONDUCTOR,MASCULINO,19.0,1,2016-01-01,2016,1,1,04:00:00,...,PIEDRA BUENA AV.,FUE EN CRUCE DE CALLES,"PIEDRA BUENA AV. y FERNANDEZ DE LA CRUZ, F., G...",8,Point (98896.78238426 93532.43437792),-58.47533969,-34.68757022,MOTO-AUTO,MOTO,AUTO
1,2016-0002,CONDUCTOR,MASCULINO,70.0,1,2016-01-02,2016,1,2,01:15:00,...,"PAZ, GRAL. AV.",FUE EN CRUCE DE CALLES,"PAZ, GRAL. AV. y DE LOS CORRALES AV.",9,Point (95832.05571093 95505.41641999),-58.50877521,-34.66977709,AUTO-PASAJEROS,AUTO,PASAJEROS
2,2016-0003,CONDUCTOR,MASCULINO,30.0,1,2016-01-03,2016,1,3,07:00:00,...,ENTRE RIOS AV.,NO FUE EN CRUCE DE CALLES,ENTRE RIOS AV. 2034,1,Point (106684.29090040 99706.57687843),-58.39040293,-34.63189362,MOTO-AUTO,MOTO,AUTO
3,2016-0004,CONDUCTOR,MASCULINO,18.0,1,2016-01-10,2016,1,10,00:00:00,...,LARRAZABAL AV.,FUE EN CRUCE DE CALLES,"LARRAZABAL AV. y VILLEGAS, CONRADO, GRAL.",8,Point (99840.65224780 94269.16534422),-58.46503904,-34.68092974,MOTO-SD,MOTO,SD
4,2016-0005,CONDUCTOR,MASCULINO,29.0,1,2016-01-21,2016,1,21,05:20:00,...,SAN JUAN AV.,FUE EN CRUCE DE CALLES,"SAN JUAN AV. y SAENZ PEÃ‘A, LUIS, PRES.",1,Point (106980.32827929 100752.16915795),-58.38718297,-34.62246630,MOTO-PASAJEROS,MOTO,PASAJEROS
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712,2021-0092,PEATON,FEMENINO,50.0,1,2021-12-12,2021,12,12,06:20:00,...,RIVADAVIA AV.,FUE EN CRUCE DE CALLES,RIVADAVIA AV. y PUEYRREDON AV.,3,Point (105258.35368554 102122.93231400),-58.40596860,-34.61011987,PEATON-AUTO,PEATON,AUTO
713,2021-0093,PASAJERO_ACOMPAÑANTE,FEMENINO,18.0,1,2021-12-13,2021,12,13,17:10:00,...,RIESTRA AV.,FUE EN CRUCE DE CALLES,RIESTRA AV. y MOM,7,Point (102728.60090138 98186.24929177),-58.43353773,-34.64561636,MOTO-AUTO,MOTO,AUTO
714,2021-0094,PASAJERO_ACOMPAÑANTE,FEMENINO,43.0,1,2021-12-20,2021,12,20,01:10:00,...,"DELLEPIANE, LUIS, TTE. GRAL.",FUE EN CRUCE DE CALLES,"DELLEPIANE, LUIS, TTE. GRAL. y LACARRA AV.",9,Point (99624.29795829 97569.69801131),-58.46739825,-34.65117757,MOTO-AUTO,MOTO,AUTO
715,2021-0095,CONDUCTOR,MASCULINO,27.0,1,2021-12-30,2021,12,30,00:43:00,...,GAONA AV.,FUE EN CRUCE DE CALLES,GAONA AV. y TERRADA,11,Point (99116.45492358 101045.23284826),-58.47293407,-34.61984745,MOTO-CARGAS,MOTO,CARGAS
716,2021-0096,CONDUCTOR,MASCULINO,60.0,1,2021-12-15,2021,12,15,10:30:00,...,"PERON, EVA AV.",NO FUE EN CRUCE DE CALLES,"PERON, EVA AV. 4071",9,Point (99324.54463985 97676.26932409),-58.47066794,-34.65021673,AUTO-CARGAS,AUTO,CARGAS

In [60]:
Funciones.verificar_tipo_datos(df_homicidios)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,ID,[<class 'str'>],100.0,0.0,0
1,ROL,[<class 'str'>],100.0,0.0,0
2,SEXO,[<class 'str'>],100.0,0.0,0
3,EDAD,[<class 'float'>],100.0,0.0,0
4,N VICTIMAS,[<class 'int'>],100.0,0.0,0
5,FECHA,[<class 'pandas._libs.tslibs.timestamps.Timest...,100.0,0.0,0
6,AÑO,[<class 'int'>],100.0,0.0,0
7,MES,[<class 'int'>],100.0,0.0,0
8,DIA,[<class 'int'>],100.0,0.0,0
9,HORA,[<class 'datetime.time'>],100.0,0.0,0
10,HORA SIN MINUTOS,[<class 'int'>],100.0,0.0,0
11,LUGAR DEL HECHO,[<class 'str'>],100.0,0.0,0
12,TIPO DE CALLE,[<class 'str'>],100.0,0.0,0
13,CALLE,[<class 'str'>],100.0,0.0,0
14,CRUCE,[<class 'str'>],100.0,0.0,0
15,DIRECCIÓN NORMALIZADA,[<class 'str'>],100.0,0.0,0
16,COMUNA,[<class 'int'>],100.0,0.0,0
17,XY (CABA),"[<class 'str'>, <class 'int'>]",100.0,0.0,0
18,POS X,"[<class 'str'>, <class 'int'>]",100.0,0.0,0
19,POS Y,"[<class 'str'>, <class 'int'>]",100.0,0.0,0
20,PARTICIPANTES,[<class 'str'>],100.0,0.0,0
21,VICTIMA,[<class 'str'>],100.0,0.0,0
22,ACUSADO,[<class 'str'>],100.0,0.0,0

Se guarda como csv para su anáisis de EDA

In [61]:
df_homicidios.to_csv('Data/homicidios.csv', index=False)

### Se abre y observa el dataset adicional de Barrios por Comuna

In [62]:
df_barrios_comunas = pd.read_csv('Data/barrios_comunas_p_Ciencia_de_Datos_y_PP.csv')
df_barrios_comunas

               BARRIO  COMUNA
0           AGRONOMIA      15
1             ALMAGRO       5
2           BALVANERA       3
3            BARRACAS       4
4            BELGRANO      13
5                BOCA       4
6               BOEDO       5
7           CABALLITO       6
8           CHACARITA      15
9             COGHLAN      12
10         COLEGIALES      13
11       CONSTITUCION       1
12             FLORES       7
13           FLORESTA      10
14            LINIERS       9
15          MATADEROS       9
16          MONSERRAT       1
17       MONTE CASTRO      10
18      NUEVA POMPEYA       4
19              NUÑEZ      13
20            PALERMO      14
21  PARQUE AVELLANEDA       9
22   PARQUE CHACABUCO       7
23        PARQUE CHAS      15
24   PARQUE PATRICIOS       4
25           PATERNAL      15
26      PUERTO MADERO       1
27           RECOLETA       2
28             RETIRO       1
29           SAAVEDRA      12
30      SAN CRISTOBAL       3
31        SAN NICOLAS       1
32          SAN TELMO       1
33    VELEZ SARSFIELD      10
34          VERSALLES      10
35       VILLA CRESPO      15
36   VILLA DEL PARQUE      11
37       VILLA DEVOTO      11
38  VILLA GRAL. MITRE      11
39       VILLA LUGANO       8
40         VILLA LURO      10
41      VILLA ORTUZAR      15
42   VILLA PUEYRREDON      12
43         VILLA REAL      10
44    VILLA RIACHUELO       8
45   VILLA SANTA RITA      11
46      VILLA SOLDATI       8
47      VILLA URQUIZA      12

Se guarda ese dataset en un csv nuevo

In [63]:
df_barrios_comunas.to_csv('Data/barrios_por_comuna.csv', index=False)

Se abre y observa el dataset de Censos 2010 y 2022 para determinar la cantidad de habitantes de CABA:

In [64]:
ruta_censos_caba = 'Data/censos_caba.xlsx'

In [65]:
df_censos_caba = pd.read_excel(ruta_censos_caba, sheet_name='Cuadro 1.1')
df_censos_caba

,"Censo Nacional de Población, Hogares y Viviendas 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,Cuadro 1.1. Ciudad Autónoma de Buenos Aires. T...,NaN,NaN,NaN,NaN,NaN
1,Código,Comuna,Población,NaN,Variación absoluta,Variación relativa (%)
2,NaN,NaN,2010,2022.0,NaN,NaN
3,02,Total,2890151,3121707.0,231556,8
4,02007,Comuna 1,205886,223554.0,17668,8.6
5,02014,Comuna 2,157932,161645.0,3713,2.4
6,02021,Comuna 3,187537,196240.0,8703,4.6
7,02028,Comuna 4,218245,229240.0,10995,5
8,02035,Comuna 5,179005,194271.0,15266,8.5
9,02042,Comuna 6,176076,203043.0,26967,15.3
10,02049,Comuna 7,220591,215896.0,-4695,-2.1
11,02056,Comuna 8,187237,204367.0,17130,9.1
12,02063,Comuna 9,161797,169063.0,7266,4.5
13,02070,Comuna 10,166022,173004.0,6982,4.2
14,02077,Comuna 11,189832,204601.0,14769,7.8
15,02084,Comuna 12,200116,236887.0,36771,18.4
16,02091,Comuna 13,231331,264385.0,33054,14.3
17,02098,Comuna 14,225970,248635.0,22665,10
18,02105,Comuna 15,182574,196876.0,14302,7.8
19,Notas: de acuerdo con la Ley Orgánica de Comun...,NaN,NaN,NaN,NaN,NaN
20,"Fuente: INDEC, Censo Nacional de Población, Ho...",NaN,NaN,NaN,NaN,NaN

In [66]:
df_censos_caba=df_censos_caba.drop([0, 2, 19, 20])

In [67]:
df_censos_caba

,"Censo Nacional de Población, Hogares y Viviendas 2022",Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
1,Código,Comuna,Población,NaN,Variación absoluta,Variación relativa (%)
3,02,Total,2890151,3121707.0,231556,8
4,02007,Comuna 1,205886,223554.0,17668,8.6
5,02014,Comuna 2,157932,161645.0,3713,2.4
6,02021,Comuna 3,187537,196240.0,8703,4.6
7,02028,Comuna 4,218245,229240.0,10995,5
8,02035,Comuna 5,179005,194271.0,15266,8.5
9,02042,Comuna 6,176076,203043.0,26967,15.3
10,02049,Comuna 7,220591,215896.0,-4695,-2.1
11,02056,Comuna 8,187237,204367.0,17130,9.1
12,02063,Comuna 9,161797,169063.0,7266,4.5
13,02070,Comuna 10,166022,173004.0,6982,4.2
14,02077,Comuna 11,189832,204601.0,14769,7.8
15,02084,Comuna 12,200116,236887.0,36771,18.4
16,02091,Comuna 13,231331,264385.0,33054,14.3
17,02098,Comuna 14,225970,248635.0,22665,10
18,02105,Comuna 15,182574,196876.0,14302,7.8

In [68]:
df_censos_caba.columns

Index(['Censo Nacional de Población, Hogares y Viviendas 2022', 'Unnamed: 1',
       'Unnamed: 2', 'Unnamed: 3', 'Unnamed: 4', 'Unnamed: 5'],
      dtype='object')

In [69]:
nuevos_nombres = {'Censo Nacional de Población, Hogares y Viviendas 2022': 'Código', 'Unnamed: 1': 'Comuna',  'Unnamed: 2': 'Población 2010', 'Unnamed: 3': 'Población 2022', 'Unnamed: 4': 'Variación absoluta', 'Unnamed: 5': 'Variación relativa (%)'}
df_censos_caba = df_censos_caba.rename(columns=nuevos_nombres)

In [70]:
df_censos_caba

,Código,Comuna,Población 2010,Población 2022,Variación absoluta,Variación relativa (%)
1,Código,Comuna,Población,NaN,Variación absoluta,Variación relativa (%)
3,02,Total,2890151,3121707.0,231556,8
4,02007,Comuna 1,205886,223554.0,17668,8.6
5,02014,Comuna 2,157932,161645.0,3713,2.4
6,02021,Comuna 3,187537,196240.0,8703,4.6
7,02028,Comuna 4,218245,229240.0,10995,5
8,02035,Comuna 5,179005,194271.0,15266,8.5
9,02042,Comuna 6,176076,203043.0,26967,15.3
10,02049,Comuna 7,220591,215896.0,-4695,-2.1
11,02056,Comuna 8,187237,204367.0,17130,9.1
12,02063,Comuna 9,161797,169063.0,7266,4.5
13,02070,Comuna 10,166022,173004.0,6982,4.2
14,02077,Comuna 11,189832,204601.0,14769,7.8
15,02084,Comuna 12,200116,236887.0,36771,18.4
16,02091,Comuna 13,231331,264385.0,33054,14.3
17,02098,Comuna 14,225970,248635.0,22665,10
18,02105,Comuna 15,182574,196876.0,14302,7.8

In [71]:
df_censos_caba=df_censos_caba.drop([1,3])

In [72]:

df_censos_caba

,Código,Comuna,Población 2010,Población 2022,Variación absoluta,Variación relativa (%)
4,02007,Comuna 1,205886,223554.0,17668,8.6
5,02014,Comuna 2,157932,161645.0,3713,2.4
6,02021,Comuna 3,187537,196240.0,8703,4.6
7,02028,Comuna 4,218245,229240.0,10995,5
8,02035,Comuna 5,179005,194271.0,15266,8.5
9,02042,Comuna 6,176076,203043.0,26967,15.3
10,02049,Comuna 7,220591,215896.0,-4695,-2.1
11,02056,Comuna 8,187237,204367.0,17130,9.1
12,02063,Comuna 9,161797,169063.0,7266,4.5
13,02070,Comuna 10,166022,173004.0,6982,4.2
14,02077,Comuna 11,189832,204601.0,14769,7.8
15,02084,Comuna 12,200116,236887.0,36771,18.4
16,02091,Comuna 13,231331,264385.0,33054,14.3
17,02098,Comuna 14,225970,248635.0,22665,10
18,02105,Comuna 15,182574,196876.0,14302,7.8

In [73]:
Funciones.verificar_tipo_datos(df_censos_caba)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,Código,[<class 'str'>],100.0,0.0,0
1,Comuna,[<class 'str'>],100.0,0.0,0
2,Población 2010,[<class 'int'>],100.0,0.0,0
3,Población 2022,[<class 'float'>],100.0,0.0,0
4,Variación absoluta,[<class 'int'>],100.0,0.0,0
5,Variación relativa (%),"[<class 'float'>, <class 'int'>]",100.0,0.0,0

In [74]:
df_censos_caba['Población 2022'] = df_censos_caba['Población 2022'].astype(int)

In [75]:
Funciones.verificar_tipo_datos(df_censos_caba)

,nombre,tipo_datos,porcentaje_no_nulos,porcentaje_nulos,nulos
0,Código,[<class 'str'>],100.0,0.0,0
1,Comuna,[<class 'str'>],100.0,0.0,0
2,Población 2010,[<class 'int'>],100.0,0.0,0
3,Población 2022,[<class 'int'>],100.0,0.0,0
4,Variación absoluta,[<class 'int'>],100.0,0.0,0
5,Variación relativa (%),"[<class 'float'>, <class 'int'>]",100.0,0.0,0

In [76]:
df_censos_caba

,Código,Comuna,Población 2010,Población 2022,Variación absoluta,Variación relativa (%)
4,02007,Comuna 1,205886,223554,17668,8.6
5,02014,Comuna 2,157932,161645,3713,2.4
6,02021,Comuna 3,187537,196240,8703,4.6
7,02028,Comuna 4,218245,229240,10995,5
8,02035,Comuna 5,179005,194271,15266,8.5
9,02042,Comuna 6,176076,203043,26967,15.3
10,02049,Comuna 7,220591,215896,-4695,-2.1
11,02056,Comuna 8,187237,204367,17130,9.1
12,02063,Comuna 9,161797,169063,7266,4.5
13,02070,Comuna 10,166022,173004,6982,4.2
14,02077,Comuna 11,189832,204601,14769,7.8
15,02084,Comuna 12,200116,236887,36771,18.4
16,02091,Comuna 13,231331,264385,33054,14.3
17,02098,Comuna 14,225970,248635,22665,10
18,02105,Comuna 15,182574,196876,14302,7.8

Se guarda el daraframe como csv

In [78]:
df_censos_caba.to_csv('Data/censos_caba.csv', index=False)